@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-900: #312e81;
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300 antialiased;
  }

  .dark body {
    @apply bg-slate-950 text-gray-100;
  }
}